h2
{
  text-align:  center;
}

h3
{
  margin-top:  25px;
  font-weight: bold;
}

#myForm
{
  margin:50px 0px; padding:0px;
  text-align:center;
  align:center;
}

label
{
  margin-top:  15px;
  font-weight: bold;
}

.pro
{
  font-weight: normal;
}

table
{
  border-style: solid;
  background-color: lightgrey;
}